setuptools
nose
six
seaborn
scikit-learn
lockfile
joblib
psutil
pyyaml
liac-arff
pandas
ConfigSpace>=0.4.0,<0.5
pynisher>=0.4
pyrfr>=0.7,<0.8
smac
tqdm
keras
jupyterlab
auto-sklearn
mlxtend
opencv-python
h5py
numpy
pillow
scikit-image
imgaug
